

h1{
    text-align: center;
    font-style: oblique;
    color: brown;
    margin-bottom: 18px;

}
#row{
    display: grid;
    grid-auto-flow: column;
   justify-content: center;
}
#box2{
    height:200px;
    width:350px;
    border: 3px solid black;
    background-color: lightgrey;
    float: right;
    /* margin-right: 10px; */
    margin: 10px;
  
}
#box12{
    height: 30px;
    width:80px;
    border:3px solid black;
    font-size: 25px;
    background-color: palevioletred;
    float:right;
     }
p{
  margin-top: 35px;
}
#box3{
height:200px;
    width:350px;
    border: 3px solid black;
    background-color: lightgray;
    /* margin-top: 10px; */
    float: right;
    margin: 10px;

}
#box23{
  height:30px;
    width:60px;
    border:3px solid black;
    font-size: 25px;
    background-color: rgb(158, 29, 29);
    float: right;
}
#box4{
height:200px;
    width:350px;
    border: 3px solid black;
    background-color: lightgrey;
    float: right;
    margin: 10px;
}
#box34{
height: 30px;
    width:60px;
    border:3px solid black;
    font-size: 25px;
    background-color: burlywood;
    float:right;

}
